/*自适应*/
/*超小屏*/
@media screen and (max-width: 479px) {
  .main-container {
    width: 95%;
    margin: 0 auto;
  }
  .archive-article-info-title-width {
    width: 65%;
  }
}
/*xs->手机*/
@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-container {
    width: 95%;
    margin: 0 auto;
  }
  .archive-article-info-title-width {
    width: 70%;
  }
}
/*sm->平板*/
@media screen and (min-width: 768px) and (max-width: 959px) {
  .main-container {
    width: 90%;
    margin: 0 auto;
  }
  .archive-article-info-title-width {
    width: 70%;
  }
}
/*md->桌面显示器*/
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .main-container {
    width: 60%;
    margin: 0 auto;
  }
  .archive-article-info-title-width {
    width: 75%;
  }
}
/*lg->大屏*/
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .main-container {
    width: 50%;
    margin: 0 auto;
  }
  .archive-article-info-title-width {
    width: 80%;
  }
}
/*xl->大屏*/
@media screen and (min-width: 1920px) {
  .main-container {
    width: 50%;
    margin: 0 auto;
  }
  .archive-article-info-title-width {
    width: 85%;
  }
}
